{% extends "layout.html" %}

{% block title %}
    Review

{% endblock %}

{% block body %}

<br><br>

{% if reviews %}

{% for review in reviews %}
<div style="text-align:left;" class="info">
    {% if review.username %}
      <p><strong id="username">{{review.username}}</strong>
    {% else %}
      <p><strong id="username">anonymus</strong>
    {% endif %}
  <strong>/<strong id="date">{{review.date}}</strong></p>
  <p id="review">{{review.feedback}}</p>
</div>
{% endfor %}

{% else %}
<div style="text-align:left;" class="info">
    <p id="review" style="color:grey; font-size: 20px;">There are still no reviews for this book</p>
</div>
{% endif %}

<script>
    document.getElementById("heading").innerHTML = "The Healing Library Review"
</script>

{% endblock %}